.main{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main h1{
  margin-top:1.5rem;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(20, 2.5rem);
  grid-template-rows: repeat(18, 1.5rem);
  grid-gap: 2px;
  margin: 5rem 5rem;
}

.one{
  grid-column: 3/6;
  grid-row: 2/7;
  border: 1px solid black;
  background-color: silver;
}

.two{
  grid-column: 4/8;
  grid-row: 5/11;
  border: 1px solid black;
  background-color: silver;
}

.three{
  grid-column: 3/5;
  grid-row: 9/13;
  border: 1px solid black;
  background-color: silver;
}

.four{
  grid-column: 7/10;
  grid-row: 3/6;
  border: 1px solid black;
  background-color: silver;
}

.five{
  grid-column: 9/12;
  grid-row: 7/12;
  border: 1px solid black;
  background-color: silver;
}

.six{
  grid-column: 6/14;
  grid-row: 13/15;
  border: 1px solid black;
  background-color: silver;
}

.seven{
  grid-column: 9/11;
  grid-row: 16/18;
  border: 1px solid black;
  background-color: silver;
}

.eight{
  grid-column: 11/15;
  grid-row: 2/6;
  border: 1px solid black;
  background-color: silver;
}

.nine{
  grid-column: 14/19;
  grid-row: 3/8;
  border: 1px solid black;
  background-color: silver;
}

.ten{
  grid-column: 13/18;
  grid-row: 9/12;
  border: 1px solid black;
  background-color: silver;
}
