.main{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.main h1{
  font-size:5.5rem;
  margin-top:1.5rem;
  font-family: 'Amatic SC', cursive;
}

#main_strong-1{
  color: #99C2FF;
  text-shadow: 0 0 5px #000;
}

#main_strong-2{
  color: #FFD9FF;
  text-shadow: 0 0 5px #000;
}

#main_strong-3{
  color: #FFFFE6;
  text-shadow: 0 0 5px #000;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(20, 2.5rem);
  grid-template-rows: repeat(18, 1.5rem);
  grid-gap: 2px;
  margin: 2rem auto;
  position: relative;
}

#item{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  letter-spacing: 2px;
  font-family: 'Amatic SC', cursive;
  position: relative;
}

#wrapper_item-a{
  color:black;
  text-decoration:none;
  text-align:center;
  font-size:2rem;
}

#wrapper_item-a:hover{
  text-decoration: none;
  color: black;
  text-shadow: 0 0 5px #fff;
}

.one{
  grid-column: 2/5;
  grid-row: 2/7;
  background-color: #D8BFD8;
  z-index: 2;
}

.one:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.two{
  grid-column: 4/8;
  grid-row: 5/11;
  background-color: #99C2FF;
  z-index: 1;
}

.two:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.three{
  grid-column: 3/5;
  grid-row: 9/13;
  background-color: #FFD9FF;
  z-index: 2;
}

.three:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.four{
  grid-column: 7/10;
  grid-row: 3/6;
  background-color: #FFD9E6;
}

.four:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.five{
  grid-column: 9/12;
  grid-row: 7/12;
  background-color: #C2E5D2;
}

.five:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.six{
  grid-column: 6/14;
  grid-row: 13/15;
  background-color: #FFFFE6;
}

.six:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.seven{
  grid-column: 9/11;
  grid-row: 16/18;
  background-color: #C2E5D2;
}

.seven:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.eight{
  grid-column: 11/15;
  grid-row: 2/6;
  background-color: #FFD9E6;
}

.eight:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.nine{
  grid-column: 14/19;
  grid-row: 3/8;
  background-color: #99C2FF;
}

.nine:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.ten{
  grid-column: 13/18;
  grid-row: 9/12;
  background-color: #FFD9FF;
}

.ten:hover{
  animation-name: growup;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

@keyframes growup {
  0%{transform: scale(1,1);}
  50%{transform: scale(1.1,1.1);}
  100%{transform: scale(1.2,1.2);}
}

.footer{
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

#footer_p{
  margin: 0;
}
